<div class="footer-area">
            <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#b4bce6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget-item">
                                <div class="footer-logo pb-4">
                                    <a href="index.html">
                                        <img src="~/assets/images/logo/Nlaugu.png" alt="Logo">
                                    </a>
                                </div>
                                <p class="short-desc mb-2">NLAUGU cung cấp những món quà tặng lưu niệm ý nghĩa, gói gém và trao gửi một cách trân trọng.</p>
                                <div class="widget-contact-info pb-6">
                                    <ul>
                                        <li>
                                            <i class="pe-7s-map-marker"></i>
                                            71 Đ. Man Thiện, Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh
                                        </li>
                                        <li>
                                            <i class="pe-7s-mail"></i>
                                            <a href="mailto://info@example.com">nlaugustore@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Thông tin</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Giao hàng</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Trả hàng</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Trạng thái đơn hàng</a>
                                    </li>
                                     <li>
                                        <a href="javascript:void(0)">Hướng dẫn khác</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Tài khoản</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">Tài khoản của bạn</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Thanh toán</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Xác thực</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Điều khoản</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Yêu cầu liên hệ</h3>
                                <p class="short-desc">Nếu bạn có yêu cầu hoặc thắc mắc, hãy để lại mail và chúng mình sẽ liên hệ bạn.</p>
                            </div>
                            <div class="widget-form-area">
                                <form class="widget-form" action="#">
                                    <input class="input-field" type="email" autocomplete="off" placeholder="Email của bạn">
                                    <div class="button-wrap pt-5">
                                        <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Gửi Email</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-3" data-bg-color="#004aad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span class="copyright-text text-white">© 2022 Bản quyền thuộc về NLAUGU <i class="fa fa-heart text-danger"></i><a href="https://hasthemes.com/" target="_blank"></a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>