
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="/assets/images/about/banner/bgsuccess2.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="parallax-img-wrap">
                                <div class="papaya">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="~/assets/images/aboutus.png" alt="Banner Images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 align-self-center">
                            <div class="about-banner-content">
                                <div class="section-title">
                                    <span class="sub-title">Welcome To NLAUGU</span>
                                    <h2 class="title font-size-60 mb-6">Best Souvenir Shop</h2>
                                    <p class="short-desc mb-0"><b>nlaugustore.com</b> cung cấp những món quà tặng lưu niệm ý nghĩa, gói gém và trao gửi một cách trân trọng. Bạn có thể đặt hàng Online để được chuyển trực tiếp đến người nhận trong ngày tại Hà Nội, TpHCM và từ 2-5 ngày với khu vực khác trên Toàn Quốc.</p>
                                    <div class="button-wrap pt-8">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="/shop.html">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-item text-white" data-bg-color="#aec581">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/ca.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Chúng tôi là ai?</h3>
                                    <p class="short-desc mb-0">Chúng tôi là người thực hiện sứ mệnh tạo ra những khoảnh khắc hạnh phúc bằng cách mang đến cho bạn hoặc người thân bạn những món Quà Tặng Đặc Biệt. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                            <div class="intro-item text-white" data-bg-color="#b9cbe7">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/ca.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Chúng tôi làm gì?</h3>
                                    <p class="short-desc mb-0">Cung cấp những món quà tặng ý nghĩa, độc đáo dành cho nhiều đối tượng. Kèm theo đó là dịch vụ gói quà, tặng quà giấu tên, ghi thiệp.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                            <div class="intro-item text-white" data-bg-color="#b8a780" style="min-height:433px">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/ca.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Hoạt động ra sao?</h3>
                                    <p class="short-desc mb-0">Đặt quà, thanh toán trên môi trường internet. Dù bạn có ở bất kỳ đâu, và bất kỳ thời gian nào bạn đều có thể đặt quà.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-member section-space-top-100">
                <div class="container">
                    <div class="section-title text-center pb-55">
                        <span class="sub-title text-primary">Hand Work</span>
                        <h2 class="title mb-0">Đội ngũ của chúng tôi</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="swiper-container team-member-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n1.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Trần Huỳnh Lưu</h6>
                                                <span class="occupation">Quản lý</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n2.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nguyễn Thành Tiến</h6>
                                                <span class="occupation">Nhân viên sale</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n3.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nguyễn Hữu An</h6>
                                                <span class="occupation">Nhân viên marketing</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n4.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Trần Thị Thu Trang</h6>
                                                <span class="occupation">Kế toán</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n5.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Đặng Ngọc Chung</h6>
                                                <span class="occupation">Kho và vận chuyển</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/n6.png" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Lê Minh Tuấn</h6>
                                                <span class="occupation">Kho và vận chuyển</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->

        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Miễn phí vận chuyển</h5>
                                <p class="short-desc mb-0">Miễn phí vận chuyển đối với nội thành Hà Nội và TP.Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Hỗ trợ trực tuyến</h5>
                                <p class="short-desc mb-0">Chúng tôi sẵn sàng hỗ trợ trực tuyến 24/7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Thanh toán an toàn</h5>
                                <p class="short-desc mb-0">Hệ thống thanh toán trực tuyến hoàn toàn an toàn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Area End Here -->

