
@{
    ViewData["Title"] = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-content">
            <!-- Begin Shipping Area -->
            <!-- Shipping Area End Here -->

            <div class="contact-with-map">
                <div class="contact-map">
                    <iframe class="contact-map-size" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62698.71905325156!2d106.75061755513346!3d10.836550923792243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752713a03dfe47%3A0xd00b3b147ea418ab!2zU2hvcCBRdcOgIEzGsHUgTmnhu4dt!5e0!3m2!1svi!2s!4v1655604622585!5m2!1svi!2s" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-form-area section-space-bottom-100">
                    <div class="container">
                        <div class="contact-form-wrap">
                            <form id="contact-form" class="contact-form" action="https://whizthemes.com/mail-php/mamunur/harmic/harmic.php">
                                <h4 class="contact-form-title pb-2 mb-7">Liên hệ với chúng tôi</h4>
                                <div class="form-field">
                                    <input type="text" name="con_name" placeholder="Tên của bạn*" class="input-field">
                                </div>
                                <div class="form-field mt-6">
                                    <input type="text" name="con_email" placeholder="Email*" class="input-field">
                                </div>
                                <div class="form-field mt-6">
                                    <textarea name="con_message" placeholder="Tin nhắn" class="textarea-field"></textarea>
                                </div>
                                <div class="button-wrap mt-8">
                                    <button type="submit" value="submit" class="btn btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" name="submit">Gửi</button>
                                </div>
                                <p class="form-messege mt-3 mb-0"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
