@{
    ViewData["Title"] = "guicode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-10 pt-lg-0">
                Chúng tôi đã gửi mã kích hoạt tài khoản về số điện thoại của bạn, vui lòng nhập mã xác nhận.
                <br />
                <br />
                Nhập mã xác nhận:
                <input type="text" id="myText" value="">
                <button onclick="myFunction()">Xác nhận</button>
                <br />
                <p id="demo"></p>

            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
      var x = document.getElementById("myText").value;
      if(x == @ViewBag.Code)
      {
          window.location="/tai-khoan-cua-toi.html";
      }
      else
      {
          document.getElementById("demo").innerHTML = "Bạn nhập sai mã xác nhận, vui lòng thử lại.";
      }
    }
</script>
