@model DICHOSAIGON.Areas.Admin.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enlink - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Adminassets/images/logo/favicon.png">

    <!-- page css -->

    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-0 h-100">
            <div class="row no-gutters h-100 full-height">
                <div class="col-lg-4 d-none d-lg-flex bg" style="background-image:url('/Adminassets/images/loginadmin2.png')">
                </div>
                <div class="col-lg-8 bg-white">
                    <div class="container h-100">
                        <div class="row no-gutters h-100 align-items-center">
                            <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
                                <h2>Đăng nhập</h2>
                                <p class="m-b-30">Nhập thông tin đăng nhập của bạn để có quyền truy cập</p>
                                <form asp-area="Admin" asp-controller="Accounts" asp-action="Login">
                                    <div class="form-group">
                                        <label class="font-weight-semibold" asp-for="UserName">Email:</label>
                                        <div class="input-affix">
                                            <i class="prefix-icon anticon anticon-user"></i>
                                            <input type="text" class="form-control" asp-for="UserName" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" asp-for="Password">Mật khẩu:</label>
                                        <a class="float-right font-size-13 text-muted" href="">Forget Password?</a>
                                        <div class="input-affix m-b-10">
                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <button class="btn btn-primary">Đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>

</body>

</html>